/**
        Author: SpringHack - springhack@live.cn
        Last modified: 2017-05-26 19:47:25
        Filename: BaseComponentStyle.css
        Description: Created by SpringHack using vim automatically.
**/

.Button {
  background-color: #1AAD19;
  border-radius: 5px;
  padding: 1px;
  margin-right: 20px;
}
